body {
  font-family: arial, sans-serif;
  background-color: rgb(249, 247, 254);
}

h1 {
  margin: 20px 0 10px;
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  color: #272142;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  font-weight: 500;
  margin-bottom: 5px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}
a {
  text-decoration: none;
  color: #885df1;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 30px 50px rgba(65 50 100 / 8%);
}
.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
  float: left;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 58px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .unit {
  color: rgb(33, 33, 33);
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -30px;
}

.weather-forecast-wrapper {
  margin-top: 20px;
  text-align: center;
  color: rgb(33, 33, 33);
}
.forecast-img {
  display: block;
  margin: 0 auto;
}
.weather-forecast-date,
.weather-forecast-temperature-min {
  font-size: 16px;
  opacity: 0.5;
}

#description {
  text-transform: capitalize;
}

#search-button,
#location-button {
  background: #885df1;
  border-color: #885df1;
  border-radius: 6px;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 0;
  height: 40px;
  opacity: 0.8;
}

#city-input {
  background: rgb(249, 247, 254);
  border: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 40px;
  line-height: 20px;
  margin-bottom: 15px;
}

#humidity,
#wind-speed {
  color: #ed5383;
}
